/*禁止显示touch选中效果*/
.disableDefaultAction {
  -webkit-touch-callout: none;
}
body {
  -webkit-touch-callout: none;
}
.cursorPointer {
  cursor: pointer;
}
.cursorDefault {
  cursor: default;
}
.noTouchStyleOnMobileDevice {
  -webkit-tap-highlight-color: transparent;
}
.fullSize {
  width: 100%;
  height: 100%;
}
.fullFill {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.flexContainerWrap {
  /*使用flex布局*/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  /*新的元素可换行显示，不加此代码会挤在一行*/
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  /*选取space-around的居中且剩余空间平均分配*/
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  /*items纵轴居中*/
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  /*行纵轴居中*/
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start;
}
.flexContainerWrap1 {
  /*使用flex布局*/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  /*新的元素可换行显示，不加此代码会挤在一行*/
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  /*选取space-around的居中且剩余空间平均分配*/
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  /*items纵轴居中*/
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  /*行纵轴居中*/
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
.flexContainer {
  /*使用flex布局*/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  /*新的元素可换行显示，不加此代码会挤在一行*/
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  /*选取space-around的居中且剩余空间平均分配*/
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  /*items纵轴居中*/
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  /*行纵轴居中*/
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
.navigationTitle {
  font-size: 18px;
  font-weight: normal;
}
.bigTitle {
  font-size: 30px;
  font-weight: bold;
}
.heading1 {
  font-size: 20px;
  font-weight: bold;
}
.heading2 {
  font-size: 16px;
  font-weight: bold;
}
.heading3 {
  font-size: 14px;
  font-weight: bold;
}
.contentText {
  font-size: 14px;
  font-weight: normal;
}
.signature {
  font-size: 14px;
  font-weight: normal;
}
.blueToGreen {
  background: linear-gradient(180deg, #122750, rgba(14, 108, 140, 0.6));
}
.greenToBlue {
  background: linear-gradient(120deg, #0e6c8c, rgba(18, 39, 80, 0.1));
}
.fillGreen {
  background-color: #2AB96C;
}
.fillWhite {
  background-color: white;
}
.fillYellow {
  background-color: #ffeb00;
}
.fillCyan {
  background-color: #8DE2C0;
}
.fillBlue {
  background-color: #00B2FF;
}
.fillOrange {
  background-color: #E75E42;
}
.fillDarkBlue {
  background-color: #122750;
}
.fillDarkGreen {
  background-color: #0e6c8c;
}
/* 灰色 */
.fillBackgroundGray {
  background-color: #F4F7FA;
}
.fillLightGray {
  background-color: #B9BFC6;
}
/* 字体颜色 */
.fontWhite {
  color: white;
}
.fontGray {
  color: rgba(0, 0, 0, 0.4);
}
.fontBlack {
  color: #333F50;
}
.fontOrange {
  color: #E75E42;
}
.fontGreen {
  color: #2AB96C;
}
.fontWhite {
  color: white;
}
.fontYellow {
  color: #ffeb00;
}
.fontCyan {
  color: #8DE2C0;
}
.fontBlue {
  color: #00B2FF;
}
/* 渐变色 */
.blueToGreen {
  background: linear-gradient(180deg, #122750, #114B6D);
}
.greenToBlue {
  background: linear-gradient(120deg, #0e6c8c, #122750);
}
html,
body {
  font-family: 'englishFont', PingFangSC-Regular, PingFangTC-Regular, Microsoft YaHei, STHeiti Light, serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #425460;
}
.attentionText {
  font-weight: 900;
  margin: 0 1px 0 1px;
  padding: 2px 4px 1px 4px;
  background-color: rgba(37, 143, 48, 0.07);
  border-radius: 3px;
}
header {
  float: left;
  width: 100%;
}
/* 去掉点击时的蓝色阴影 */
a {
  color: #122750;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
a:hover {
  color: #2AB96C;
}
a:active {
  color: #00B2FF;
}
a:visited {
  color: #122750;
}
.main {
  float: left;
  width: 100%;
}
/*自定义字体*/
@font-face {
  font-family: 'englishFont';
  src: url('../assets/fonts/english-font-bold.eot') format('eot'), url('../assets/fonts/english-font-bold.ttf') format('ttf'), url('../assets/fonts/english-font-bold.woff') format('woff'), url('../assets/fonts/english-font-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'englishFont';
  src: url('../assets/fonts/english-font-light.eot') format('eot'), url('../assets/fonts/english-font-light.ttf') format('ttf'), url('../assets/fonts/english-font-light.woff') format('woff'), url('../assets/fonts/english-font-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'englishFont';
  src: url('../assets/fonts/english-font-bolder.eot') format('eot'), url('../assets/fonts/english-font-bolder.ttf') format('ttf'), url('../assets/fonts/english-font-bolder.woff') format('woff'), url('../assets/fonts/english-font-bolder.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
