.navigationTitle {
  font-size: 18px;
  font-weight: normal;
}
.bigTitle {
  font-size: 30px;
  font-weight: bold;
}
.heading1 {
  font-size: 20px;
  font-weight: bold;
}
.heading2 {
  font-size: 16px;
  font-weight: bold;
}
.heading3 {
  font-size: 14px;
  font-weight: bold;
}
.contentText {
  font-size: 14px;
  font-weight: normal;
}
.signature {
  font-size: 14px;
  font-weight: normal;
}
