<div class = "uiCard" style = "padding-bottom: 70px">
  <img src = "./resources/images/search.svg">
  <div class = "button">ADD TOKEN</div>
  <div class = "transactionCell">
    <div class = "icon"></div>
    <div class = "content">
      <div class = "topLine"></div>
      <div class = "bottomLine"></div>
    </div>
  </div>
  <div class = "transactionCell">
    <div class = "icon"></div>
    <div class = "content">
      <div class = "topLine"></div>
      <div class = "bottomLine"></div>
    </div>
  </div>
</div>

<style type = "text/css" media = "screen">
  .uiCard img {
    width: 100px;
    height: 100px;
    margin: 20px 0 20px 78px;
  }

  .uiCard .button {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    margin-left: 55px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 13px;
    background-color: #3ab54a;
    color: white;
    text-align: center;
    line-height: 32px;
  }
</style>