<div class = "uiCard">
  <p class = "title">History List</p>
  <div class="transactionCell">
    <div class="icon"></div>
    <div class="content">
      <div class="topLine"></div>
      <div class="bottomLine"></div>
    </div>
  </div>
  <div class="transactionCell">
    <div class="icon"></div>
    <div class="content">
      <div class="topLine"></div>
      <div class="bottomLine"></div>
    </div>
  </div>
  <div class="transactionCell">
    <div class="icon"></div>
    <div class="content">
      <div class="topLine"></div>
      <div class="bottomLine"></div>
    </div>
  </div>
</div>

<style type = "text/css" media = "screen"></style>